body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #332211;
  min-height: 70vh;

  color: white;
}

h1 {
  margin: 2vw 3vw 3vw 3vw;
  font-size: 8vw;
}
h3 {
  font-size: 3vw;
}


video { 
  max-width: 90%;
}

/* Bordered div */
.login {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], 
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* error animation */
.jiggle {
    -webkit-animation: jiggle 0.2s 4;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: 4;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
        }
    50% {
        -webkit-transform: rotate(1deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}
